body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 18px;
}


@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@keyframes spin {
    from {
        --angle: 0deg;
    } to {
        --angle: 360deg;
    }
}
.box {
    background-color: rgb(4, 18, 94);
    width: 500px;
    padding: 2em;
    border-radius: 15px;
    position: relative;
    transition: color 1s ease;
}
.box::after {
    content: '';
    background: conic-gradient(from var(--angle), red, transparent, blue, transparent, red);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    translate: -50% -50%;
    border-radius: 15px;
    padding: 3px;
    z-index: -1;
    animation: spin infinite linear 3s;
}

.btn {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
}

.btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: conic-gradient(from var(--angle), rgb(0, 119, 255), black, rgb(0, 119, 255));
    z-index: -1;
    border-radius: 50%;
    animation: spin 3s infinite linear;
}